@font-face {
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: 500;
	src: url('./fonts/Orbitron-Medium.woff2') format('woff2'), url('./fonts/Orbitron-Medium.woff') format('woff');
}

html,
body {
	overflow-x: hidden;
	min-height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-weight: 400;
	margin: 0;
}

input:focus,
textarea:focus,
select:focus {
	border-color: #001d1d!important;
}

::placeholder {
	color: #aaa;
	opacity: 1!important;
}

input:disabled {
	-webkit-text-fill-color: #001d1d;
	opacity: 1;
}

header {
	display: flex;
    justify-content: center;
    align-items: center;
	height: 70px;
	width: 100%;
    background: #00ced1;
    color: #001d1d;
    text-transform: uppercase;
    font-size: 20px;
	font-weight: 700;
    letter-spacing: 1px;
	border-bottom: 2px solid #001d1d;
	text-align: center;
}

header svg {
	vertical-align: middle;
}

header span {
	margin-left: 15px;
}

#liens,
.conteneur {
	width: 100%;
	padding: 0 20px;
	text-align: center;
	box-sizing: border-box;
}

.conteneur-consigne {
	padding-top: 50px;
	max-width: 750px;
    margin: auto;
}

.conteneur p {
	padding: 0 0 15px;
	margin: 0;
	font-size: 18px;
	color: #001d1d;
	line-height: 1.5;
}

.conteneur p.petit {
	font-size: 13px;
	color: #555;
}

.conteneur p:last-child {
	padding: 0;
}

#liens label,
.conteneur label {
	display: block;
	font-size: 14px;
	color: #001d1d;
	margin-bottom: 5px;
	font-weight: 700;
}

#liens input,
.conteneur input,
.conteneur select {
	text-align: left;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px;
    margin: 0 0 20px;
    width: 80px;
	font-size: 16px;
	color: #001d1d;
}

.conteneur-options textarea,
.conteneur textarea {
	text-align: left;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px;
    margin: 0 auto 20px;
    max-width: 400px;
    min-width: 400px;
    width: 400px;
    min-height: 100px;
	font-size: 16px;
	color: #001d1d;
}

.conteneur select {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%23000000" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625" /></svg>') center right no-repeat;
	padding-right: 30px;
}

.bouton {
    border-radius: 2em;
    color: #001d1d;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
	background: #fff;
	border: 2px solid #001d1d;
	user-select: none;
	-webkit-user-select: none;
	transition: background ease-in 0.1s;
}

.bouton:hover {
	background: #00ced1;
}

#liens {
	padding: 40px 20px;
	box-sizing: border-box;
    border-top: 2px solid #ff2d55;
}

#liens input {
	width: 400px;
}

#liens #lien {
	margin-bottom: 0;
}

#liens span:not(.bouton) {
	vertical-align: top;
    display: inline-block;
    margin-top: 8px;
    margin-left: 7px;
	cursor: pointer;
}

#liens span:not(.bouton):active {
	opacity: 0.7;
}

#liens #supprimer {
	width: 400px;
	margin: 20px auto 0;
}

#liens #supprimer .bouton {
	display: inline-block;
	border-color: #ff6259;
	color: #ff6259;
	margin: 0;
}

#liens #supprimer .bouton:hover {
	background: #ff6259;
	color: #fff;
}

footer {
	padding: 40px 20px;
	display: block;
	text-align: center;
	font-size: 16px;
	color: #001d1d;
	box-sizing: border-box;
	border-top: 2px solid #ff2d55;
}

footer a {
	display: inline-block;
	margin-top: 25px;
	color: #001d1d;
}

footer > a {
	text-decoration: underline;
}

.notification {
	font-size: 15px;
	width: 280px;
	margin-left: -140px;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	text-align: center;
	border-radius: 3px;
	padding: 10px 15px;
	position: fixed;
	z-index: 10001;
	left: 50%;
	bottom: 50px;
	animation: fonduEntrantNotification 0.4s;
}
  
@keyframes fonduEntrantNotification {
	from { bottom: 0; opacity: 0; }
	to { bottom: 50px; opacity: 1; }
}

@media (max-width: 479px) {
	header {
		font-size: 17px;
	}
	
	header span {
		margin-left: 10px;
	}

	.conteneur p {
		font-size: 16px;
	}

	.bouton {
		padding: 12px 15px;
	}
	
	.conteneur-options textarea,
	.conteneur textarea {
		max-width: 100%;
		min-width: 100%;
		width: 100%;
	}
	
	#liens input {
		width: 250px;
	}

	#liens #supprimer {
		width: 250px;
	}
	
	footer {
		font-size: 14px;
	}
}
