@font-face {
	font-family: 'Mona Sans Expanded';
	src: url('./fonts/MonaSansExpanded-Black.woff2') format('woff2');
	font-weight: 900;
	font-display: swap;
}

header {
	font-family: 'Mona Sans Expanded', sans-serif;
	font-size: 27px;
	font-weight: normal!important;
	text-transform: none;
}

.conteneur {
	padding: 0 20px;
	margin: 50px auto 25px;
	display: flex;
    justify-content: space-evenly;
	flex-wrap: wrap;
	box-sizing: border-box;
	max-width: 1500px;
}

.conteneur a {
	display: flex;
    justify-content: center;
    align-items: center;
	width: 23%;
	height: 170px;
	border: 2px solid #001d1d;
	border-radius: 1em;
	margin-bottom: 25px;
	background: #fff;
	transition: background ease-in 0.1s;
}

.conteneur a:hover {
	background: #ff2d55;
}

.conteneur a span {
	color: #001d1d;
	font-size: 23px;
	font-weight: 700;
	text-align: center;
	padding: 10px;
	line-height: 1.5;
}

.conteneur a:hover span {
	color: #fff;
}

footer a {
	margin-top: 0!important;
}

footer .soutien,
footer .credits {
	margin-top: 25px;
}

p.credits {
	display: flex;
	justify-content: center;
	align-items: center;
}

p.credits .hub {
	font-size: 0;
	cursor: pointer;
}

p.credits a {
    margin: 0 5px;
}

#hub {
	position: fixed;
	visibility: hidden;
	opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	z-index: 100000;
}

#hub.ouvert {
	visibility: visible;
	opacity: 1;
    animation: fonduEntrant linear 0.1s;
}

@keyframes fonduEntrant {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#hub iframe {
	width: 100%;
    height: 100%;
}

#hub span {
	font-size: 0;
	color: #fff;
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}

@media (max-width: 479px) {
	header {
		font-size: 20px;
	}

	.conteneur {
		justify-content: space-between;
	}
	.conteneur a {
		width: 47%;
	}
	
	.conteneur a span {
		font-size: 16px;
	}
}

@media screen and (max-width: 599px) {
	#hub span {
		top: 5px;
		right: 5px;
	}
	
	#hub span svg {
		width: 24px;
		height: 24px;
	}
}

@media (min-width: 480px) and (max-width: 1023px) {
	.conteneur a {
		width: 31.5%;
	}
	
	.conteneur a span {
		font-size: 20px;
	}
}
