body {
	display: none;
}

.conteneur-edition {
	padding-top: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-top: 1px solid #ddd;
}

.conteneur-creation {
	margin: 50px 0 0;
	display: none;
}

#champs input {
	display: block;
    margin: 0 auto 10px;
    width: 300px;
}

#champs input:last-child {
	margin-bottom: 20px;
}

#items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

#cartes {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 35px;
}

#cartes + .actions {
	padding-top: 20px;
	border-top: 1px solid #ddd;
}

#items .item {
	position: relative;
	margin: 15px;
}

#items .item .supprimer {
	position: absolute;
    top: 0;
    right: 0;
	cursor: pointer;
	background: #fff;
	line-height: 1;
	z-index: 5;
}

.carte {
	position: relative;
    display: inline-block;
    margin: 0 0.5em 15px;
    width: 320px;
	cursor: pointer;
	box-sizing: border-box;
}

#items .carte {
	margin: 0;
}

.carte h1 {
	color: #fff;
    font-size: 2.2em;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.carte > .recto,
.carte > .verso {
    width: inherit;
    background-position: center;
	background-repeat: no-repeat;
    height: 220px;
    border-radius: 10px;
	border: 1px solid #001d1d;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 0.5s;
    transition-property: transform, opacity;
}

.carte > .recto {
    transform: rotateY(0deg);
	background-size: cover;
	background-color: #001d1d;
}

.carte > .verso {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background-size: contain;
	background-color: #fff;
    transform: rotateX(-180deg);
}

.carte.flip > .recto {
    transform: rotateX(180deg);
}

.carte.flip > .verso {
    opacity: 1;
    transform: rotateX(0deg);
}

.carte > .verso p {
    font-size: 1.5em;
    line-height: 1.4;
	font-weight: 400;
    color: #001d1d;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.carte > .recto > div,
.carte > .verso > div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
    height: 100%;
	padding: 1em;
	border-radius: 10px;
}

.carte > .recto.avec-texte > div {
	background: rgba(0, 0, 0, 0.3);
}

.carte > .verso.avec-texte > div {
	background: rgba(255, 255, 255, 0.4);
}

.actions {
	text-align: center;
	font-size: 0;
	margin-bottom: 20px;
}

.actions label,
.actions span {
	margin-left: 8px;
	margin-right: 8px;
}

@media screen and (max-width: 399px) {
	#champs input {
		width: 260px;
	}
}
