.conteneur {
	width: 100%;
	max-width: 1000px;
	padding: 100px 20px;
	margin: auto;
}

.conteneur p:last-child {
	padding: 0;
}

.actions {
	text-align: center;
	font-size: 0;
	margin-top: 50px;
}

.actions span {
	margin-left: 8px;
	margin-right: 8px;
}

#reinitialiser,
#continuer,
#suspendre {
	display: none;
}

#chrono {
	font-family: 'Orbitron', sans-serif;
	font-size: 55px;
	letter-spacing: 5px;
    padding: 30px;
    border: 2px solid #ddd;
	border-radius: 0.5em;
	display: flex;
	justify-content: center;
	text-align: center;
}

#chrono span {
	display: inline-block;
	text-indent: 5px;
}

#minutes,
#secondes {
	width: 110px;
}

#millisecondes {
	width: 165px;
	text-indent: 5px;
}

@media (max-width: 479px) {
	#chrono {
		font-size: 30px;
		padding: 20px 10px;
	}
	
	#minutes,
	#secondes {
		width: 64px;
	}

	#millisecondes {
		width: 96px;
	}
}
