.conteneur-edition {
	padding-top: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-top: 1px solid #ddd;
}

.conteneur input {
    margin: 0 10px 20px;
}

.actions {
	text-align: center;
	font-size: 0;
	margin-bottom: 20px;
}

#histoire {
	display: none;
	justify-content: center;
	flex-wrap: wrap;
}

#histoire img {
	max-width: 150px;
	height: auto;
	padding: 10px;
	margin: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

@media screen and (max-width: 399px) {
	#histoire img {
		max-width: 110px;
		padding: 5px;
	}
}

@media screen and (min-width: 400px) and (max-width: 599px) {
	#histoire img {
		max-width: 130px;
		padding: 7px;
	}
}
