
.conteneur {
	padding: 50px 20px;
	margin: auto;
}

.conteneur-des {
	display: none;
	padding: 80px 20px;
}

#des {
	font-size: 7em;
    display: flex;
    justify-content: center;
	flex-wrap: wrap;
}

#des .dice {
	margin: 20px 10px;
}

.actions {
	text-align: center;
	font-size: 0;
}

.actions span {
	margin-left: 8px;
	margin-right: 8px;
}

.conteneur-des .actions {
	margin-top: 40px;
}
