body {
	display: none;
}

.conteneur-edition {
	padding-top: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-top: 1px solid #ddd;
}

.conteneur-creation {
	margin: 50px 0;
	display: none;
}

.conteneur input {
    width: 300px;
}

#image {
	text-align: center;
	padding-top: 10px;
	margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ddd;
}

#image:empty {
	padding-bottom: 30px;
}

#image img {
	max-width: 100%;
	max-height: 200px;
}

#options {
	padding: 0 0 50px 0;
	margin: 50px 0;
	border-bottom: 1px solid #ddd;
}

#options select {
	margin-bottom: 0;
}

#revelateur {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75vh;
	padding: 50px 0;
	margin: 50px 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#conteneur-revelateur {
	position: relative;
	height: calc(75vh - 100px);
}

#conteneur-revelateur img {
	max-width: 100%;
	max-height: calc(75vh - 100px);
}

#revelateur .cases {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

#revelateur .cases .case {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: #222;
	font-size: 20px;
	border: 1px dashed #ddd;
	user-select: none;
	cursor: pointer;
}

#revelateur .cases .case9 {
	width: calc(100% / 3);
	height: calc(100% / 3);
}

#revelateur .cases .case16 {
	width: calc(100% / 4);
	height: calc(100% / 4);
}

#revelateur .cases .case25 {
	width: calc(100% / 5);
	height: calc(100% / 5);
}

#revelateur .cases .case36 {
	width: calc(100% / 6);
	height: calc(100% / 6);
}

#revelateur .cases .case.transparent {
	background: transparent;
	border: none;
	cursor: default;
}

.actions {
	text-align: center;
	font-size: 0;
	margin-bottom: 20px;
}

.actions span {
	margin-left: 8px;
	margin-right: 8px;
}

@media screen and (max-width: 399px) {
	.conteneur input {
		width: 260px;
	}
}
