.conteneur {
	padding: 20px 20px 50px;
	margin: auto;
	max-width: 900px;
}

#retroactions {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 720px;
	margin: auto;
}

#retroactions .bouton {
	background-color: #fff;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 150px;
	width: 150px;
	margin-top: 30px;
	border: 2px solid #00ced1;
	border-radius: 50%;
}

#retroactions .bouton:hover {
	border: 2px solid #00acb0;
	background: #00ced1;
}

.conteneur-carte {
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: 10005;
	background-color: rgba(0, 0, 0, 0.3);
	opacity: 0;
	transition: opacity 0.4s ease-in-out;
	cursor: pointer;
}

.conteneur-carte.ouvert {
	visibility: visible;
	opacity: 1;
}

.conteneur-carte .carte {
	color: #fff;
	transform: scale(0);
	transition: all 0.4s ease-in-out;
	user-select: none;
}

.conteneur-carte .carte img {
	width: auto;
	height: 75vh;
}

.conteneur-carte.ouvert .carte {
	transform: scale(1);
}

@media screen and (max-width: 399px) {
	#retroactions {
		width: 280px;
	}

	#retroactions .bouton {
		height: 60px;
		width: 60px;
	}
}

@media screen and (min-width: 400px) and (max-width: 599px) {
	#retroactions {
		width: 360px;
	}

	#retroactions .bouton {
		height: 75px;
		width: 75px;
	}
}

@media screen and (min-width: 600px) and (max-width: 767px) {
	#retroactions {
		width: 560px;
	}

	#retroactions .bouton {
		height: 120px;
		width: 120px;
	}
}
