body {
	display: none;
}

.conteneur-edition {
	padding-top: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-top: 1px solid #ddd;
}

.conteneur-creation {
	margin: 50px 0;
	display: none;
}

#phrase {
	font-size: 35px;
	font-weight: 700;
	line-height: 1.7;
	padding: 50px 0;
	margin: 50px 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.actions {
	text-align: center;
	font-size: 0;
	margin-bottom: 20px;
}

.actions span {
	margin-left: 8px;
	margin-right: 8px;
}
