body {
	display: none;
}

.conteneur-edition {
	padding-top: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-top: 1px solid #ddd;
}

.conteneur-classement {
	margin: 40px 0 50px;
	display: none;
}

#classement {
	display: flex;
    justify-content: center;
	flex-wrap: wrap;
}

#classement .personne {
	border: 1px solid #ddd;
	width: 280px;
	padding: 15px 10px;
	box-sizing: border-box;
	margin: 10px;
	font-size: 18px;
	color: #222;
}

#classement .personne .titre {
	padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
	font-weight: 700;
	font-size: 16px;
}

#classement .personne .score {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

#classement .personne .moins,
#classement .personne .plus {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #ddd;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

#classement .personne .moins:hover,
#classement .personne .plus:hover,
#classement .personne .moins:active,
#classement .personne .plus:active {
	background-color: #ddd;
}

.actions {
	text-align: center;
	font-size: 0;
}

.actions span {
	margin-left: 8px;
	margin-right: 8px;
}

.conteneur-classement .actions {
	margin-top: 15px;
}

@media screen and (max-width: 410px) {
	#quitter {
		margin-top: 20px;
	}
}
