body {
	display: none;
}

::placeholder {
	color: #999;
	opacity: 1!important;
}

.conteneur-edition {
	padding-top: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-top: 1px solid #ddd;
}

.conteneur input {
    width: 300px;
}

.actions {
	text-align: center;
	font-size: 0;
	margin-bottom: 20px;
}

.actions span {
	margin-left: 8px;
	margin-right: 8px;
}

.conteneur-affichage {
	width: 100%;
	position: relative;
	background: #ceced2;
	margin: auto;
}

.conteneur-affichage-coffre {
    width: 1440px;
	position: relative;
}

.conteneur-quitter {
	display: none;
}

.conteneur-quitter .actions {
	margin: 25px 0;
}

#actions {
	text-align: center;
	font-size: 0;
}

#valider {
	vertical-align: middle;
	margin-left: 15px;
	border: 2px solid #008f91;
	color: #008f91;
}

#valider:hover {
	background: #008f91;
	color: #fff;
}

#combinaison {
	text-align: left;
	border: 1px solid #424242;
	border-radius: 4px;
	padding: 15px;
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
	color: #424242;
	background: #fff;
}

.conteneur-coffre {
    background-image: url('./fond.png');
    background-position: left 80px;
    background-repeat: no-repeat;
    background-size: 1440px 600px;
    height: 700px;
	padding: 50px 0;
    margin: 0 auto;
    position: relative;
    width: inherit;
}

#coffre {
    background-image: url('./coffre.png');
    height: 466px;
    top: 145px;
    left: 435px;
    position: absolute;
    width: 550px;
	background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#barre {
    background-image: url('./barre.png');
    height: 460px;
    margin-left: 180px;
    width: 225px;
	background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#recompense {
    height: 250px;
    margin: 145px 0 0 515px;
    width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#recompense.texte {
	background: #fff;
	font-size: 35px;
	color: #424242;
	border-radius: 20px;
}

#recompense.texte.defaut {
	color: #999;
}

#recompense.image img {
	max-width: 400px;
    max-height: 250px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

@media screen and (max-width: 399px) {
	.conteneur input {
		width: 260px;
	}
}

@media screen and (max-width: 726px) {
	.conteneur-coffre {
		-webkit-transform: scale(0.6);
		transform: scale(0.6);
	}
}
