.conteneur {
	max-width: 700px;
	padding: 50px 20px;
	margin: auto;
}

.conteneur input {
    margin: 0 10px 20px;
}

.conteneur-decompte {
	display: none;
	padding: 100px 20px;
}

#champs {
	display: flex;
    justify-content: center;
}

.actions {
	text-align: center;
	font-size: 0;
}

.conteneur-decompte .actions {
	margin-top: 50px;
}

.actions span {
	margin-left: 8px;
	margin-right: 8px;
}

#quitter,
#continuer,
#suspendre {
	display: none;
}

#rebours {
	position: relative;
}

#rebours svg {
	transform: rotate(90deg) scale(-1, 1);
	animation-play-state: paused!important;
}

#rebours svg.actif {
	animation-play-state: running!important;
}

#rebours svg.rouge circle {
	stroke: #ff7575!important;
}

#decompte {
	position: absolute;
	top: 50%;
	display: flex;
	justify-content: center;
	font-family: 'Orbitron', sans-serif;
	font-size: 46px;
	letter-spacing: 4px;
	line-height: 1;
	margin-top: -23px;
	width: 100%;
}

#decompte span {
	display: inline-block;
	text-indent: 4px;
}

#minutes,
#secondes {
	width: 100px;
}

@keyframes rebours {
	to {
		stroke-dashoffset: 0;
	}
}
