body {
	display: none;
}

.conteneur-edition {
	padding-top: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-top: 1px solid #ddd;
}

.conteneur-groupes {
	margin: 40px 0 50px;
	display: none;
}

#groupes {
	display: flex;
    justify-content: center;
	flex-wrap: wrap;
}

#groupes .groupe {
	border: 1px solid #ddd;
	width: 280px;
	padding: 15px 10px;
	box-sizing: border-box;
	margin: 10px;
	font-size: 18px;
	color: #222;
}

#groupes .groupe .titre {
	padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
	font-weight: 700;
	font-size: 16px;
	color: #999;
}

#groupes .groupe li {
	margin-bottom: 7px;
	line-height: 1.4;
}

#groupes .groupe li:last-child {
	margin-bottom: 0;
}

.actions {
	text-align: center;
	font-size: 0;
}

.actions span {
	margin-left: 8px;
	margin-right: 8px;
}

.conteneur-groupes .actions {
	margin-top: 15px;
}
