body {
	display: none;
}

.conteneur {
	text-align: center;
}

.conteneur-roue {
	position: relative;
	display: none;
}

#roue {
	display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto 0;
	width: 438px;
	height: 582px;
    background-image: url('./roue.png');
    background-position: center;
    background-repeat: no-repeat;
	background-size: contain;
}

.actions {
	font-size: 0;
	margin-top: 25px;
	margin-bottom: 50px;
}

.actions span {
	margin-left: 8px;
	margin-right: 8px;
}

.conteneur-options {
	padding: 50px 20px 0;
	margin: 50px 0 0;
	border-top: 1px solid #ddd;
	box-sizing: border-box;
}

.conteneur-roue {
	padding: 0 20px 0;
	margin-top: 50px;
	border-top: 1px solid #ddd;
	box-sizing: border-box;
}

#stopper,
#quitter,
#lancer {
	display: none;
}

#resultat {
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
    width: 438px;
    min-height: 100px;
    top: 0;
	left: 50%;
	margin-left: -219px;
	padding: 20px;
	background: rgba(255, 255, 255, 0.9);
	color: #001d1d;
	font-size: 30px;
	font-weight: 700;
	border-radius: 1em;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media (max-width: 479px) {
	#resultat {
		width: 300px;
		min-height: 80px;
		font-size: 23px;
		margin-left: -150px;
		padding: 15px;
	}
}

@media (max-width: 349px) {
	#resultat {
		width: 280px;
		min-height: 80px;
		font-size: 21px;
		margin-left: -140px;
		padding: 15px;
	}
}
